body {
    background-color: rgb(20, 20, 20);
}
header {
    background-color:  rgb(20, 20, 20);
}
#form-pers {
    width: 120x;
    padding-right: 40px ;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 60px;
}
body {
    color: white;
}
article img {
width: 300px;
}
.icon {
  
  
    font-size: 40px;
 
;
   
}